body{
    background: #FFFFFF;
}
/*menu*/
section.menu {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    margin: 0 5rem 0 5rem;
    
}

section.menu header.menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

section.menu input.input__header{
    background: #F5F5F5;
    border-radius: 20px;
    width: 250px;
    height: 25px;
    padding: 8px 16px;
    margin: 0 0 0 2rem;
    border-style: solid;
}

section.menu header.menu__header a img{
    width: 220px;
    height: 100px;
}

section.menu header.menu__header img.find{
    position: relative;
    left: 310px;
}

section.menu button.boton__header{
    background: #FFFFFF;
    width: 180px;
    height: 50px;
    padding: 16px;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    color: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/*banner*/

section.banner{
    background-image:url(./assets/banner1.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 1270px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}

section.banner div.banner__about{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    width: 1136px;
    height: 170px;
}

section.banner div.banner__about h2.banner__promocional{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    color: #021630;
}

section.banner div.banner__about h3.banner__descuento{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #111111;
}

section.banner div.banner__about a{
    text-decoration: none;
}

section.banner div.banner__about span.banner__span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #2A7AE4;;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 100px;
    height: 80px;
    color: #FFFFFF;
}

/*products*/

section.products{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F5F5F5;
    width: 1335px;
}

section.products div.products__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 1250px;
    height: 38px;
    margin: 4rem 2.5rem 1rem 2.5rem;
}



section.products div.products__head h2.products__head__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;

}

section.products div.products__head button.products__head__boton{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    background: #F5F5F5;
    border: none;
}

section.products div.products__store__all{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
}

section.products div.products__store__all div:nth-child(n+7){
    display:none;
}

section.products ul.products__store__list{
    list-style: none;
}

section.products ul li.products__store__item__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

section.products ul.products__store__list a{
    text-decoration: none;
}

section.products ul li.products__store__item__link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}

/*footer*/

footer.data__company{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

footer.data__company div.foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 64px;
    gap: 115px;
    background: #EAF2FD;
    width: 1205px;
}

footer.data__company div.foot div.foot__logo img{
    width: 220px;
    height: 100px;
}

footer.data__company div.foot ul.foot__box__list a{
    text-decoration: none;
}

footer.data__company div.foot ul.foot__box__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    list-style: none;
    text-decoration: none;

}

footer.data__company div.foot ul li.foot__box__item{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

footer.data__company div.foot form.foot__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

footer.data__company div.foot form p.foot__form__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

footer.data__company div.foot form input.foot__form__name{
    width: 500px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    border-style: solid;
}

footer.data__company div.foot form input.foot__form__message{
    width: 500px;
    height: 82px;
    background: #FFFFFF;
    border-radius: 4px;
    border-style: solid;
}

footer.data__company div.foot form button.foot__form__boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 150px;
    height: 51px;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: #2A7AE4;
}

footer.data__company div.rodapie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;
    background: #FFFFFF;
    width: 1200px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
}

.formcontacto__form--invalid .foot__form__name{
    border: 1px solid rgb(228, 53, 53);
    border-radius: 7px; 
}

.formcontacto__form--invalid .foot__form__message{
    border: 1px solid rgb(228, 53, 53);
    border-radius: 7px; 
}

.formcontacto__form--invalid .foot__form__name::placeholder{
    color: red;  
}

.formcontacto__form--invalid .foot__form__message::placeholder{
    color: red;  
}

.input-message-error {
    display: none;
}

.formcontacto__form--invalid .input-message-error{
    color: red;
    display: block;
    margin-top: 0.1rem;
    padding-left: 0.1rem;
}

/*page quienessomos banner*/

section.bannerquienessomos{
    background-image: url(./assets/banner2.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 1270px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}



section.bannerquienessomos div.banner__about{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    width: 1136px;
    height: 170px;
}

section.bannerquienessomos div.banner__about h2.banner__promocional{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    color: #021630;
}

section.bannerquienessomos div.banner__about h3.banner__descuento{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #111111;
}

section.bannerquienessomos div.banner__about a{
    text-decoration: none;
}

section.bannerquienessomos div.banner__about span.banner__span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #2A7AE4;;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 100px;
    height: 80px;
    color: #FFFFFF;
}

section.company{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    background: #F5F5F5;
    width: 1335px;
    gap: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

section.company div.description{
    width: 600px;
    height: 400px;
    margin: 0 3rem 0 2rem;
}

section.company div.description h2.descripcion__titulo{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.company div.description h4.descripcion__resena{
    font-size: 20px;
    font-family:monospace;
    text-align: justify;
}

section.company div.fotografia img{
    width: 600px;
    height: 400px;
    margin: 1rem 0 1rem 0;
}

/*page Mision y Vision*/

section.mision__vision{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    background: #F5F5F5;
    width: 1335px;
    gap: 1rem;
}

section.mision__vision div.mision__description{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

section.mision__vision div.mision__content h2.mision__descripcion__titulo{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;
}

section.mision__vision div.mision__description h4.mision__descripcion__resena{
    font-size: 20px;
    font-family:monospace;
    text-align: justify;
    align-content: center;
    align-items: center;
    margin: 1rem;
}

section.mision__vision div.mision__fotografia img{
    width: 500px;
    height: 300px;
    margin: 1rem;
}

section.mision__vision{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    background: #F5F5F5;
    width: 1335px;
    gap: 1rem;
}

section.mision__vision div.vision__description{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

section.mision__vision div.vision__content h2.vision__descripcion__titulo{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;
}

section.mision__vision div.vision__description h4.vision__descripcion__resena{
    font-size: 20px;
    font-family:monospace;
    text-align: justify;
    align-content: center;
    align-items: center;
    margin: 1rem;
}

section.mision__vision div.vision__fotografia img{
    width: 500px;
    height: 300px;
    margin: 1rem;
}

/*Modal*/

#modal::backdrop {
    background-color: rgba(0,0,0,.55);
    
}

#modal{
    width: 30ch;
    height: 20ch;
    text-align:center;
}


/*responsive*/

@media screen and (max-width:824px){

    /*menu*/

    section.menu {
       margin: 0 0 0.5rem 0.5rem;
    }
    section.menu button.boton__header{
        margin: 0 2.5rem 0 0;
    }

    /*banner*/

    section.banner{
        width: 700px;
        height: 180px;
        padding: 55px;
    }

    section.banner div.banner__about{
        width: 700px;
    }

    section.banner div.banner__about h2.banner__promocional{
        font-size: 52px;
        line-height: 61px;
        margin: 1rem;

    }

    section.banner div.banner__about h3.banner__descuento{
        font-size: 22px;
        line-height: 26px;
        margin: 0.5rem;
    }

    section.banner div.banner__about span.banner__span{
        width: 100px;
        height: 35px;
        font-size: 12px;
        line-height: 16px;
    }

    /*products*/

    section.products{
        width: 810px;
        padding: 1.5rem 0;
    }
    
    section.products div.products__head{
        padding: 0px;
        gap: 50px;
        margin: 0.5rem 0 0rem 1rem;
        width: 710px;
    }
    
    section.products div.products__head h2.products__head__title{
        font-size: 22px;
        line-height: 26px;
    }
    
    section.products div.products__head button.products__head__boton{
        font-size: 16px;
        line-height: 19px;
    }
   
    section.products div.products__store__all div:nth-child(n+5){
        display:none;
    }
    
    section.products div ul.products__store__list{
        padding: 0.2rem 0.8rem;
    }

    /*footer*/

    footer.data__company{
        margin: 0.5rem 0.1rem;
    }
    
    footer.data__company div.foot{
        flex-direction: column;
        flex-wrap: wrap;
        width: 630px;
        height: 364px;
        gap: 10px;
    }

    footer.data__company div.foot div.foot__logo{
        width: 254px;
        margin: 0;
        padding: 0;
    }
    
    footer.data__company div.foot ul.foot__box__list{
        width: 254px;
    }

    footer.data__company div.foot form.foot__form{
        height: 350px;
    }
    
    footer.data__company div.foot form input.foot__form__name{
        width: 320px;
    }
    
    footer.data__company div.foot form input.foot__form__message{
        width: 320px;
    }
    
    footer.data__company div.rodapie{
        width: 700px;
    }

}

@media screen and (max-width: 420px) {

    /*menu*/
    section.menu {
        margin: 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem;
    }
    
    section.menu input.input__header{
        display: none;
    }

    section.menu button.boton__header{
        margin-right: 2.5rem;
        width: 110px;
        height: 45px;
        font-size: 12px;
        line-height: 14px;
    }

    section.menu header.menu__header img.find{
        left: 170px;
    }

    /*banner*/

    section.banner{

        width: 360px;
        height: 90px;
        padding: 20px;
        margin: 0.1rem;
        background-size: 380px;
    }

    section.banner div.banner__about{
        width: 360px;
        height: 190px;
        margin: 0;
        padding: 0; 
    }

    section.banner div.banner__about h2.banner__promocional{
        font-size: 18px;
        line-height: 26px;
        margin: 0;
        color: #FFFFFF;
    }

    section.banner div.banner__about h3.banner__descuento{
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        color: #FFFFFF;
    }

    section.banner div.banner__about span.banner__span{
        width: 90px;
        height: 35px;
        font-size: 12px;
        line-height: 16px;
    }

    /*products*/

    section.products{
        width: 385px;
    }
    
    section.products div.products__head{
        padding: 0px;
        gap: 10px;
        margin: 0 0 0rem 0.5rem;
        width: 310px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    section.products div.products__head h2.products__head__title{
        font-size: 22px;
        line-height: 26px;
    }
    
    section.products div.products__head button.products__head__boton{
        font-size: 14px;
        line-height: 16px;
    }

    section.products div.products__store__all div:nth-child(n+5){
        display:none;
    }
    
    section.products div ul.products__store__list{
        padding: 0.2rem 0.5rem;
    }

    /*footer*/

    footer.data__company{
        margin: 0.1rem 0.1rem;
    }
    
    footer.data__company div.foot{
        flex-direction: column;
        align-items: flex-start;
        width: 260px;
        height: 710px;
        gap: 25px;
    }

    footer.data__company div.foot div.foot__logo{
        width: 250px;
        text-align: center;
    }
    
    footer.data__company div.foot ul.foot__box__list{
        align-items: center;
        width: 250px;
    }
    
    footer.data__company div.foot form input.foot__form__name{
        width: 280px;
    }
    
    footer.data__company div.foot form input.foot__form__message{
        width: 280px;
    }
    
    footer.data__company div.rodapie{
        width: 300px;
    }

}